body {
  background-color: #0c0f0a;
  text-align: center;
}

.heading {
  padding: 4% 5% 2%;
  color: #ff206e;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}

.player {
  font-family: 'Monda', sans-serif;
  padding: 2% 10% 1%;
  font-size: 2.5rem;
  color: #41ead4;
}

.img1, .img2 {
  width: 45%;
}

.button {
  padding-top: 4%;
}

.btn-color {
  font-family: 'Monda', sans-serif;
  border-radius: 10%;
  font-weight: 700;
  color: #000;
  background: #fbff12;
}

.btn-color:hover {
  background:  #fcff4d;
  transform: scale(1.1);
}

.footer {
  padding-top: 4%;
}

.footer a {
  padding: 0 1% 1%;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  transform: scale(1.5);
}
