body {
	background-color: black;
}
.dark {
	background-color: #4d4d4d4d;
	color: white;
}
.row-btn {
	margin-top: 60px; 
}
a.btn:hover {
	background-color: #1f1824;
	color: white;
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
	align-self: center;
	//#bb86fc;
}
.btn-back {
	background-color: #bb86fc;
}