body {
    margin: 0;
    font-family: 'poppins';
    height: 100vh;
    background-color: rgb(230, 230, 230);
    display: grid;
    place-content: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 62%;
    background-color: rgb(216, 216, 216);
    z-index: -7;
}

.card {
    width: 30%;
    padding: 3em;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
}

.card::before, .card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 200px;
    width: 34%;
    height: 100%;
    z-index: -2;
}
h1 {
    margin: 0;
    color: black;
}
.card::after {
    width: 0%;
    background-color: #004CFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

p {
    clip-path: circle(0% at 100% 0);
    color: white;
    font-size: 0.9em;
    line-height: 1.6em;
    padding: 1.5em 0 0 3em;
    position: relative;
    transform: translateX(20px);
}

p::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 5px;
    background-color: darkblue;
    left: 0;
    top: 2em;
}