@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #b5f7f3;
  color: snow;
}

.navbar {
  background-color: #086460;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: clamp(34px, 3.5vw, 40px);
  font-weight: 900;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #4fcec7;
}

.sort-list {
  margin-left: 1rem;
  width: 150px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  position: relative;
}

.sort-list .arrows {
  display: block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.sort-list .arrows::before,
.sort-list .arrows::after {
  --size: 0.45rem;
  content: "";
  position: absolute;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

.sort-list .arrows::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #639ca5;
  top: 35%;
}

.sort-list .arrows::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #639ca5;
  top: 65%;
}

.sort-list .main-list {
  padding: 0.25rem 0.5rem;
  position: relative;
  font-size: 1.1rem;
  background-color: #1e4047;
}

.sort-list .main-list li {
  list-style: none;
}

.sort-list .main-list li .sub-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #38565c;
}

.sort-list .main-list li .sub-list li {
  padding: 0.25rem 0.75rem;
  display: none;
  position: relative;
}

.sort-list .main-list li .sub-list li:hover {
  background-color: #639ca5;
}

.sort-list .main-list li .sub-list li .sub-sub-list {
  position: absolute;
  background-color: #487a83;
  width: 110%;
  top: 0;
}

.sort-list .main-list li .sub-list li .sub-sub-list li {
  display: none;
}

.sort-list .main-list li .sub-list li .right {
  right: 100%;
}

.sort-list .main-list li .sub-list li .left {
  left: 100%;
}

.sort-list .main-list li .sub-list li:hover > .sub-sub-list li {
  display: block;
}

.sort-list .main-list:hover {
  background-color: #233438;
}

.sort-list .main-list:hover .sub-list li {
  display: block;
}

.filter-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count {
  color: #508188;
  font-size: 1rem;
  padding: 1rem;
}

.container {
  font-size: clamp(16px, 3vw, 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .heading-1,
.container .details-1 {
  width: 50%;
  padding: 0.25rem 1rem;
}

.top-heading-1,
.top-heading-2,
.top-heading-3 {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  font-size: clamp(24px, 3vw, 26px);
}

.top-heading-1 {
  background-color: #2fd82f;
}

.top-heading-2 {
  background-color: orangered;
}

.top-heading-3 {
  background-color: purple;
}

.pink {
  background-color: #ff5d78;
}

.blue {
  background-color: #6b6bd6;
}

.container {
  color: white;
}

hr {
  background-color: snow;
  height: 1px;
  border: 0px;
}

.entry {
  margin: 0 1rem 2.5rem 1rem;
  overflow-x: hidden;
}

@media (min-width: 550px) {
  .heading {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
    padding-left: 1.5rem;
  }
  .count {
    font-size: 1.2rem;
  }
  .count p {
    display: inline-block;
    padding-left: 0.5rem;
  }
  .all-candidates-details .entry .heading-details,
  .all-candidates-details .entry .heading-details-2,
  .all-candidates-details .entry .heading-details-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .all-candidates-details .entry .heading-details .container,
  .all-candidates-details .entry .heading-details-2 .container,
  .all-candidates-details .entry .heading-details-3 .container {
    border: 1px solid snow;
    width: 50%;
  }
}

@media (min-width: 650px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .heading {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
    padding-left: 1.5rem;
  }
  .navbar #filter,
  .navbar #sort {
    padding-top: 1rem;
  }
  .navbar #filter {
    margin-right: 1rem;
  }
}

@media (min-width: 750px) {
  .all-candidates-details .entry .heading-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .all-candidates-details .entry .heading-details .container {
    width: 33.333333%;
    font-size: 16px;
  }
  .all-candidates-details .entry .heading-details-2,
  .all-candidates-details .entry .heading-details-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .all-candidates-details .entry .heading-details-2 .container,
  .all-candidates-details .entry .heading-details-3 .container {
    width: 50%;
    font-size: 16px;
  }
}

@media (min-width: 990px) {
  .all-candidates-details .entry .heading-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .all-candidates-details .entry .heading-details .container {
    width: 25%;
    font-size: 16px;
  }
  .all-candidates-details .entry .lower-headings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .all-candidates-details .entry .lower-headings div {
    width: 100%;
  }
  .all-candidates-details .entry .heading-details-2,
  .all-candidates-details .entry .heading-details-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .all-candidates-details .entry .heading-details-2 .container,
  .all-candidates-details .entry .heading-details-3 .container {
    width: 50%;
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  .all-candidates-details .entry .heading-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .all-candidates-details .entry .heading-details .container {
    width: 16.666666666%;
    font-size: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */