@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(181, 247, 243);
  color: snow;
}

.navbar {
  background-color: rgb(8, 100, 96);
  margin-bottom: 2rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

.heading {
  text-align: center;

  h1 {
    font-size: clamp(34px, 3.5vw, 40px);
    font-weight: 900;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    color: rgb(79, 206, 199);
  }
}

// For toggle buttons

#id,
#mail,
#femail {
  transform: translateY(-1000px);
}

#label-id {
  &::after {
    content: "Id";
    position: relative;
    top: -180%;
  }
}
#label-mail {
  &::after {
    content: "Mail";
    position: relative;
    top: -180%;
  }
}
#label-femail {
  &::after {
    content: "Femail";
    position: relative;
    top: -180%;
  }
}

.lable {
  display: inline-block;
  width: 30px; /*=w*/
  height: 15px; /*=h*/
  margin-top: 2rem;
  transform: translateY(50%);
  position: relative;

  span {
    position: absolute;
    top: -3px;
    right: -20px;
  }

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    box-shadow: 0 0 0 2px rgb(247, 248, 248), 0 0 4px rgb(255, 255, 255);
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 30px;
      transform: translateX(-15px); /*translateX(-(w-h))*/
      transition: 0.2s;
    }
  }
}

input:checked + .lable div:before {
  transform: translateX(15px); /*translateX(w-h)*/
  background-color: rgb(79, 206, 199);
}

input:checked + .lable div {
  box-shadow: 0 0 0 2px rgb(79, 206, 199), 0 0 8px rgb(79, 206, 199);
}

.sort-by {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;

  div:nth-child(2) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// Endd of toggle button

.count {
  color: rgb(80, 129, 136);
  font-size: 1rem;
  padding: 1.5rem;
  padding-top: 0;
}

.container {
  font-size: clamp(16px, 3vw, 22px);
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .heading-1,
  .details-1 {
    width: 50%;
    padding: 0.5rem 1rem;
  }
}
.top-heading-1,
.top-heading-2,
.top-heading-3 {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  font-size: clamp(24px, 3vw, 26px);
}

.top-heading-1 {
  background-color: rgb(47, 216, 47);
}
.top-heading-2 {
  background-color: orangered;
}
.top-heading-3 {
  background-color: purple;
}

.pink {
  background-color: rgb(255, 93, 120);
}
.blue {
  background-color: rgb(107, 107, 214);
}

.container {
  color: white;
}

hr {
  background-color: snow;
  height: 1px;
  border: 0px;
}

.entry {
  padding: 0 1.5rem 3rem 1.5rem;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;

    .heading {
      width: 50%;
      text-align: left;
      padding-left: 1.5rem;
    }

    .sort-by {
      width: 50%;
      align-items: center;
      justify-content: flex-end;
      padding-right: 3.2rem;
    }
  }

  .count {
    font-size: 1.2rem;

    p {
      display: inline-block;
      padding-left: 0.5rem;
    }
  }
  .all-candidates-details {
    .entry {
    }
  }
}
