@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #b5f7f3;
  color: snow;
}

.navbar {
  background-color: #086460;
  margin-bottom: 2rem;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: clamp(34px, 3.5vw, 40px);
  font-weight: 900;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: #4fcec7;
}

#id,
#mail,
#femail {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

#label-id::after {
  content: "Id";
  position: relative;
  top: -180%;
}

#label-mail::after {
  content: "Mail";
  position: relative;
  top: -180%;
}

#label-femail::after {
  content: "Femail";
  position: relative;
  top: -180%;
}

.lable {
  display: inline-block;
  width: 30px;
  /*=w*/
  height: 15px;
  /*=h*/
  margin-top: 2rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  position: relative;
}

.lable span {
  position: absolute;
  top: -3px;
  right: -20px;
}

.lable div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 2px #f7f8f8, 0 0 4px white;
          box-shadow: 0 0 0 2px #f7f8f8, 0 0 4px white;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.lable div:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  /*translateX(-(w-h))*/
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .lable div:before {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  /*translateX(w-h)*/
  background-color: #4fcec7;
}

input:checked + .lable div {
  -webkit-box-shadow: 0 0 0 2px #4fcec7, 0 0 8px #4fcec7;
          box-shadow: 0 0 0 2px #4fcec7, 0 0 8px #4fcec7;
}

.sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.sort-by div:nth-child(2) {
  padding-left: 2rem;
  padding-right: 2rem;
}

.count {
  color: #508188;
  font-size: 1rem;
  padding: 1.5rem;
  padding-top: 0;
}

.container {
  font-size: clamp(16px, 3vw, 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container .heading-1,
.container .details-1 {
  width: 50%;
  padding: 0.5rem 1rem;
}

.top-heading-1,
.top-heading-2,
.top-heading-3 {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  font-size: clamp(24px, 3vw, 26px);
}

.top-heading-1 {
  background-color: #2fd82f;
}

.top-heading-2 {
  background-color: orangered;
}

.top-heading-3 {
  background-color: purple;
}

.pink {
  background-color: #ff5d78;
}

.blue {
  background-color: #6b6bd6;
}

.container {
  color: white;
}

hr {
  background-color: snow;
  height: 1px;
  border: 0px;
}

.entry {
  padding: 0 1.5rem 3rem 1.5rem;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .heading {
    width: 50%;
    text-align: left;
    padding-left: 1.5rem;
  }
  .navbar .sort-by {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 3.2rem;
  }
  .count {
    font-size: 1.2rem;
  }
  .count p {
    display: inline-block;
    padding-left: 0.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */